<div id="signature-pad" class="m-signature-pad" ng-controller="RegisterController">
    <div class="m-signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
        <div class="description">Sample {{sampleCounter}} of 10</div>
        <!--<button type="button" class="button clear" data-action="clear">Clear</button>-->
        <button type="button" class="button clear" ng-click="clear()">Clear</button>
        <!--<button type="button" class="button reset" data-action="reset">Reset</button>-->
        <!--<button type="button" class="button save" data-action="save">Save</button-->
        <button type="button" class="button save" ng-click="save()">Save</button>
    </div>
</div>